body { /*This is the basic design of the html body*/
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ccc; 
    padding-bottom: 50px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
}

.menu{ /*The menu bar design*/
    background-color: #2b58eb;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/*logo*/

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

/*The search input*/

.search input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

/*The menu option*/

.menuOptions {
    display: flex;
}

/*The menu links design*/

.menu1 {
    margin-right: 15px;
    text-decoration: none;
    color: #fff;
}

/*image section*/

.container {
    margin-top: 20px;
    margin-left: 90px;
}

.imagebox {
    position: relative;
    max-width: 200px; 
    overflow: hidden; 
    margin: 20px auto; 
}

.imagebox img {
    width: 100%; 
    height: auto;
    display: block;
}

.info {
    text-align: center;
    
}

.title{
    font-weight: bold;
}


.pressbtn {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #2b58eb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-table {
    width: 55%;
    background-color: transparent; 
    margin: 20px auto; 
    border-spacing: 10px; 
}

.image-table td {
    
    text-align: center;
    background-color: #fff; 

}

/*footer*/

.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ccc;
    color: #333;
    padding: 10px;
    text-align: center;
}


/*Responsiveness on different screens*/


@media screen and (min-width: 800px) and (max-width: 1024px) {
    .image-table td {
        width: 300px;
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .container{
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        height: 100vh; 

    }
    .imagebox {
        flex:45%;
        max-width: 75%;
    }

    .image-table {
        
        max-width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        display: block;
    }
    .logo{
        font-size: 20px;
    }
    .menu{
        background-color: #2b58eb;
        display: flex;
        width: 550px;
    }

    

    .container table {
        width: 100%; 
    }

    .container table tr {
        display: block;
        margin-bottom: 10px; 
    }

    .container table td {
        display: block;
        margin-bottom: 10px; 

    }
}